// tab
.tab-list-con{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width:100%;
  margin:0 auto;
  overflow-x: auto;
  min-width: 0;
  &::before{
    position:absolute;
    content:'';
    display: block;
    clear: both;
    width:100%;
    height:1px;
    bottom:0; left:0;
    background-color: $color-grey2;
  }
  // tab a 
  ul.tab-type-a{
    position:relative;
    display: flex;
    align-items: center;
    width:100%;
    min-width:0;
    li{
      position:relative;
      justify-content: center;
      align-items: center;
      flex:1;
      text-align: center;
      padding:0 6px;
      height:44px;
      line-height: 44px;
      white-space: nowrap;
      cursor:pointer;
      flex-shrink: 0;
      color:$color-grey;
      font-size: 14px;
      font-weight: 400;
      overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
      &.active{
        font-weight: 900;
        color:$color-dark-grey;
        &:after{
          position:absolute;
          content:'';
          display: block;
          width:100%;
          height:2px;
          bottom:0;
          left:0;
          z-index: 1;
          background-color: $color-dark-grey;
        }
      }
      &.disabled{opacity: 0.3; cursor:default;}
    }
    &.icon{
      li{
        height:60px;
        padding:9px 6px;
        i{
          display: block; margin:0 auto;
          filter: invert(56%) sepia(32%) saturate(265%) hue-rotate(185deg) brightness(90%) contrast(91%);
        }
        p{height:18px; line-height: 18px; font-size: 12px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
        &.active{
          i{filter: invert(10%) sepia(25%) saturate(759%) hue-rotate(185deg) brightness(104%) contrast(88%);}
          p{font-weight: 400;}
        }
      }
    }
  }

  // tab b
  ul.tab-type-b{
    position:relative;
    display: flex;
    align-items: center;
    width:100%;
    min-width:0;
    border-radius: 7px;
    background-color: $color-light-grey;
    border:2px solid $color-light-grey;
    li{
      position:relative;
      justify-content: center;
      align-items: center;
      flex:1;
      text-align: center;
      padding:0 6px;
      height:28px;
      line-height: 28px;
      border-radius: 7px;
      white-space: nowrap;
      cursor:pointer;
      flex-shrink: 0;
      border-radius: 4px;
      color:$color-medium-grey;
      font-size: 14px;
      font-weight: 400;
      overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
      &.active{
        font-weight: 900;
        color:$color-dark-grey;
        background-color: $color-white;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
      }
      &.disabled{opacity: 0.3; cursor:default;}
    }
  }
  ul.tab-type-c{
    position:relative;
    display: flex;
    align-items: center;
    width:100%;
    min-width:0;
    border-radius: 7px;
    li{
      position:relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding:0 12px;
      height:32px;
      border-radius: 16px;
      white-space: nowrap;
      cursor:pointer;
      flex-shrink: 0;
      color:$color-medium-grey;
      font-size: 14px;
      font-weight: 400;
      overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
      background-color: $color-light-grey;
      ~ li{margin-left: 6px;}
      &.active{
        color:$color-white;
        background-color: $color-white;
        background-color: $color-dark-grey;

      }
      &.disabled{opacity: 0.3; cursor:default;}
    }
  }
}

.notice-green{
  .tab-list-con{
    *{transition: all 0.5 ease-in-out;}
    &.bg-white{background-color: $color-green $imt;}
    ul.tab-type-a{
      background-color: $color-green;
      li{
        color:$color-white;
        &.active{
          color:$color-white;
          &:after{
            position:absolute;
            content:'';
            display: block;
            width:100%;
            height:2px;
            bottom:0;
            left:0;
            z-index: 1;
            background-color: $color-white;
          }
        }
      }
    }
  }
}


