// button
[class^="button-"]{
  position:relative;
  display: inline-flex;
  box-sizing: border-box;
  height: 40px;
  padding:0 10px;
  font-size: 14px;
  line-height: 1;
  align-items: center;
  //justify-content: center;
  white-space: nowrap;
  font-weight: 300;
  //overflow: hidden;
  transition: all 0.3s ease-in-out;
  ~ [class*="button-"] {margin-left: 6px;}
  // .icon-text ~ [class^="ic_"]{margin-left:7px;}
  // [class^="ic_"] ~ .icon-text{margin-left:7px;}
  * {cursor: pointer;}
}
// bodx type
.button-rectangle{
  justify-content: center;
  background-color: $color-medium-grey;
  border-radius: 8px;
  color: $color-white;
    @each $color, $value in $colors {
    &.bg-#{$color}{
//color: #{$value};
      border: none !important;
      background-color: #{$value};
      //&:hover{color: $color-white; background-color: rgba( $value,0.8) !important;}
      //&:disabled{color: $color-white; background-color: rgba( $value,0.5) !important;}
    }
    &.bg-white{color:$color-grey;}
    &.bg-secondary{color:$color-grey;}
  }

  &.button-bottom {
    height: 54px !important;
  }
}
.content-scroll ~ .button-bottom .button-rectangle {
  height: 54px !important;
}

.button-outline{
  justify-content: center;
  border:1px solid $color-light-grey;
  border-radius: 8px;
  color:$color-grey;
  @each $color, $value in $colors {
    &.bd-#{$color}{
      //color: #{$value};
      border:1px solid #{$value};
      //&:hover{opacity: 0.7;}
      //&:disabled{ opacity: 0.3 !important;}
    }
  }
}

.button-rectangle, .button-outline{
  &[disabled], &.disabled{
    cursor: default !important;
    opacity: 0.3 !important;
    * {cursor: default !important;}
  }
  //&:hover{opacity: 0.7;}
  &.large{
    height:46px;
    font-size: 16px;
  }
  &.small{
    border-radius: 4px;
    height:20px;
    padding:0 6px;
    font-size: 12px;
  }
}


// toggle
.toggle-item-box{
  display: flex;
  width:100%;
  min-width: 0;
  margin:0 auto;
  flex-wrap: wrap;

  .button-toggle{
    width:100%;
    border:1px solid $color-light-grey;
    border-radius: 8px;
    color:$color-grey;
    margin-bottom:6px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
    ~ [class*="button-"] {margin-left: 0;}
    &.active{
      color:$color-white;
      background-color: $color-grey;
    }
    &[disabled], &.disabled{
      cursor: default !important;
      opacity: 0.3 !important;
      * {cursor: default !important;}
    }
  }

  .button-toggle-select{
    position: relative;
    display: block;
    width:100%;
    height: auto;
    padding: 12px;
    line-height: 1.4;
    border:1px solid $color-light-grey;
    background-color: $color-light-grey2;
    border-radius: 8px;
    color:$color-dark-grey;
    margin-bottom:6px;
    ~ [class*="button-"] {margin-left: 0;}
    &.active{
      color:$color-white;
      background-color: $color-grey;
      .fc-medium-grey{color:$color-white !important;}
      .separator{
        background-color: #8b93a7;
      }
    }
    &[disabled], &.disabled{
      cursor: default !important;
      opacity: 0.3 !important;
      * {cursor: default !important;}
    }
  }

  .separator{
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 6px;
    background-color: #8b93a7;
  }

  &.item-length2{
    .button-toggle{
      width:calc((100% - 6px) / 2);
      &:nth-child(odd){margin-right:6px;}
    }
  }
  &.item-length3{
    .button-toggle{
      width:calc((100% - 12px) / 3);
      margin-right:6px;
      &:nth-child(3n){margin-right:0;}
    }
  }
  &.item-length4{
    .button-toggle{
      width:calc((100% - 18px) /4);
      margin-right:6px;
      &:nth-child(4n){margin-right:0;}
    }
  }
}


.bg-primary, .bg-secondary {
  font-size: 16px !important;
}
