/********************************************************/
/* icon */
/********************************************************/

[class*="ic12_"]{
  display: inline-block;
  width: 12px; height: 12px;
  transition: all 0.5s ease-in-out;
}
[class*="ic24_"]{
  display: inline-block;
  width: 24px; height: 24px;
  transition: all 0.5s ease-in-out;
}
[class*="ic32_"]{
  display: inline-block;
  width: 32px; height: 32px;
  transition: all 0.5s ease-in-out;
}

// [class*="ic_"]{
//   display: inline-block;
//   width: 24px; height: 24px;
//   transition: all 0.5s ease-in-out;
// }

// 아이콘 설정
//// icon 1
// @each $name, $glyph in $colors {
//   .ic_list.#{$name}{
//     @include svg-color($ic_list,$glyph);
//   }
// }


.ic12_bar{@include svg-color($ic12_bar,$color-black);}

.ic24_arrow_l{@include svg-color($ic24_arrow_l,$color-black);}
.ic24_arrow_r{@include svg-color($ic24_arrow_r,$color-black);}
.ic24_arrow_u{@include svg-color($ic24_arrow_u,$color-black);}
.ic24_arrow_d{@include svg-color($ic24_arrow_d,$color-black);}
.ic24_arrow_l_bold{@include svg-color($ic24_arrow_l_bold,$color-black);}
.ic24_arrow_r_bold{@include svg-color($ic24_arrow_r_bold,$color-black);}
.ic24_arrow_u_bold{@include svg-color($ic24_arrow_u_bold,$color-black);}
.ic24_arrow_d_bold{@include svg-color($ic24_arrow_d_bold,$color-black);}
.ic24_close_bold{@include svg-color($ic24_close_bold,$color-black);}
.ic24_plus_bold{@include svg-color($ic24_plus_bold,$color-black);}
.ic24_minus_bold{@include svg-color($ic24_minus_bold,$color-black);}
.ic24_graph_filled{@include svg-color($ic24_graph_filled,$color-black);}
.ic24_message_filled{@include svg-color($ic24_message_filled,$color-black);}
.ic24_receipt_filled{@include svg-color($ic24_receipt_filled,$color-black);}
.ic24_minus_circle_filled{@include svg-color($ic24_minus_circle_filled,$color-black);}
.ic24_plus_circle_filled{@include svg-color($ic24_plus_circle_filled,$color-black);}
.ic24_check_circle_filled{@include svg-color($ic24_check_circle_filled,$color-black);}
.ic24_radio_select{@include svg-color($ic24_radio_select,$color-black);}
.ic24_radio_unselect{@include svg-color($ic24_radio_unselect,$color-black);}
.ic24_screen_full{@include svg-color($ic24_screen_full,$color-black);}
.ic24_check_bold{@include svg-color($ic24_check_bold,$color-black);}
.ic24_delivery2{@include svg-color($ic24_delivery2,$color-black);}
.ic24_delivery{@include svg-color($ic24_delivery,$color-black);}
.ic24_sandglass{@include svg-color($ic24_sandglass,$color-black);}
.ic24_arrow_d_filled{@include svg-color($ic24_arrow_d_filled,$color-black);}
.ic24_arrow_l_filled{@include svg-color($ic24_arrow_l_filled,$color-black);}
.ic24_arrow_r_filled{@include svg-color($ic24_arrow_r_filled,$color-black);}
.ic24_arrow_u_filled{@include svg-color($ic24_arrow_u_filled,$color-black);}
.ic24_empty2{@include svg-color($ic24_empty2,$color-black);}
.ic24_food{@include svg-color($ic24_food,$color-black);}
.ic24_store{@include svg-color($ic24_store,$color-black);}
.ic24_time{@include svg-color($ic24_time,$color-black);}
.ic24_plus_square{@include svg-color($ic24_plus_square,$color-black);}
.ic24_close2{@include svg-color($ic24_close2,$color-black);}





.ic32_bell2{@include svg-color($ic32_bell2,$color-black);}
.ic32_hamberger{@include svg-color($ic32_hamberger,$color-black);}
